<button class="yearmenu">
	2020
</button>
<ul class="monthmenu">
	<li>
		<a href="https://dfoiler.github.io/TIL/2020/9/">
			September 2020
		</a>
	</li>
	<li>
		<a href="https://dfoiler.github.io/TIL/2020/10/">
			October 2020
		</a>
	</li>
	<li>
		<a href="https://dfoiler.github.io/TIL/2020/11/">
			November 2020
		</a>
	</li>
	<li>
		<a href="https://dfoiler.github.io/TIL/2020/12/">
			December 2020
		</a>
	</li>
</ul>
<button class="yearmenu">
	2021
</button>
<ul class="monthmenu">
	<li>
		<a href="https://dfoiler.github.io/TIL/2021/1/">
			January 2021
		</a>
	</li>
	<li>
		<a href="https://dfoiler.github.io/TIL/2021/2/">
			February 2021
		</a>
	</li>
	<li>
		<a href="https://dfoiler.github.io/TIL/2021/3/">
			March 2021
		</a>
	</li>
</ul>
